body {
  margin: 0;
  overflow: hidden;
  background-color: purple;
}
img {
  width: 100%;
  animation:bob 3s ease infinite;
}

header {
  padding: 10px;
  box-shadow: 0px -12px 30px black;
  background-color: aliceblue;
  animation: 0.3s ease-out 0s 1 slideInFromTop;
}

h1 {
  font-family: 'Vibur', cursive;
  margin: 4px 35px;
  display: inline-block;
}


@keyframes slideInFromTop {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

@keyframes bob {
  0% { transform: translate(0, 20px);}
  50% { transform: translate(0, 0px);}
  100% { transform: translate(0, 20px);}
}
